body {
      background-color: #fff;
      text-align:center;
    }
    body h3 {
      margin-top: -5px;
    }
    /* Title element (<div> tag) */
    #titlebar {
      border: solid 2px;
      border-radius: 6px;
      border-color: #bbb;
      background-color: #ddd;
      padding: 10px;
      margin-bottom: 10px;
      color: black;
    }
    /* Login element (<div> tag) */
    #login {
      margin-top: 10px;
      border: solid 2px;
      border-radius: 6px;
      border-color: #bbb;
      background: #fff;
      padding: 10px;
      margin-bottom: 10px;
      visibility: show;
    }
    #logout {
      margin-top: 10px;
      border: solid 2px;
      border-radius: 6px;
      border-color: #bbb;
      background: #fff;
      padding: 10px 10px 11px 10px;
      margin-bottom: 10px;
      margin-top: -101px;
      visibility: hidden;
    }
    /* Main data element (<div> tag) */
    #timedata {
      border: solid 2px;
      border-radius: 6px;
      border-color: #bbb;
      background: #fff;
      padding: 10px 20px;
      margin-top: 0px;
      margin-bottom: 10px;
      visibility: hidden;
      overflow: none;
    }
    #timedataCover {
      border: solid 2px;
      border-radius: 6px;
      border-color: #bbb;
      background: #fff;
      padding: 10px 20px 11px;
      margin-top: -68px;
      visibility: show;
    }
    #container {
      margin:auto;
      width: 900px;
      background-color: #eee;
      padding: 15px;
      border: solid 3px;
      border-color: #ccc;
    }
#iframe {
  overflow: none;
}
.space {
  margin: 5px;
}
#bottom {
  margin-top: -20px;
  visibility: hidden;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
  width: 100%;
  margin-top: 15px;
}
th, td {
  padding: 5px;
  text-align: center;
}
#punchOut {
  margin-top: -24px;
}
    /* Link title (<a> tag) */
    .linkTitle {
      color: #428bca;
      text-decoration: none;
      margin-right: 5px;
}
.linkTitle:hover {
  text-decoration: none;
}
/* Link URL (<span> tag) */
.linkUrl {
  font-weight: normal;
  font-size: 80%;
}
/* Link headline containing title & URL (<h4> tag) */
.linkHeadline {
  margin: 0;
}
/* Link author (<span> tag) */
.linkAuthor {
  font-weight: normal;
  font-size: 80%;
}
.linkForm {
  margin-bottom: 20px;
}